
/* ### -- -- -- -- -- Special Infinite Portal Print Styles -- -- -- -- -- ### */

/* 

File: print.css 
Copyright 2009-2011 by wcfsolutions.com

*/

/* ### -- -- -- -- -- General -- -- -- -- -- ### */

#boxesTop, #boxesBottom, #leftBoxColumn, #rightBoxColumn {
	display: none;
}

/* ### -- -- -- -- -- EOF -- -- -- -- -- ### */
